body {
  font-family: 'Inter', sans-serif;
}

button:active {
  transform: scale(0.98);
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.completed-task {
  text-decoration: line-through;
  color: #9ca3af; /* abu-abu */
  opacity: 0.8;
}
